Debug
*~
.anjuta/
.anjuta_sym_db.db
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
missing
Makefile.in
src/Makefile.in
examples/Makefile.in
tests/Makefile.in
doc/Makefile.in
src/dummy.c
src/test.py
test-driver
py-compile
src/semver.tab.*
obj/
bin/
*.depend
*.layout
*.anjuta
